<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
	<th:block th:fragment="header">
		<!-- Header -->
		<div class="navbar-fixed">
			<nav>
				<div class="nav-wrapper">
					<a th:href="@{/}" class="brand-logo">Piggy Bank<i
						class="fas fa-piggy-bank fa-lg right"></i></a> <span
						th:if="${user.username != null}" th:inline="text">
						<ul id="nav-mobile" class="right hide-on-med-and-down">

							<li><a class="dropdown-trigger" href="#!"
								data-target="dropdown-header-record">家計簿<i
									class="material-icons left">description</i></a></li>
							<li><a th:href="@{/postmain}"><i
									class="material-icons left">people_outline</i>みんなの節約術</a></li>
							<li><a class="dropdown-trigger" href="#!"
								data-target="dropdown-header-user">[[${user.userNickname}]]
									<i class="material-icons right">arrow_drop_down</i>
							</a></li>
						</ul>
						<ul id="dropdown-header-record" class="dropdown-content">
							<li><a th:href="@{/}"><i class="material-icons left">home</i>Top</a></li>
							<li><a th:href="@{/showRecords}"><i
									class="material-icons left">history</i>履歴</a></li>
							<li><a th:href="@{/analysis}"><i
									class="material-icons left">insert_chart</i>分析</a></li>
						</ul>
						<ul id="dropdown-header-user" class="dropdown-content">
							<li><a th:href="@{/mypage}">マイページ</a></li>
							<li><a th:href="@{/logout}">ログアウト</a></li>
						</ul>
					</span> <span th:if="${user.username == null}">
						<ul id="nav-mobile" class="right hide-on-med-and-down">
							<li><a th:href="@{/login}">ログイン</a></li>
							<li><a th:href="@{/register}">会員登録</a></li>
						</ul>
					</span>
				</div>
			</nav>
			<!-- End of Header -->
		</div>
		<div class="row messagebar">
			<div class="col s12 m4 l3"></div>
			<th:block th:if="${flashMsg != null}">
				<div class="col s12 m4 l6 light-green message" id="message">
					<h5 class="center-align yellow-text text-lighten-4"
						th:text="${flashMsg}"></h5>
				</div>
			</th:block>
			<th:block th:unless="${flashMsg != null}">
				<div class="col s12 m4 l6"></div>
			</th:block>
			<div class="col s12 m4 l3"></div>
		</div>
	</th:block>
</body>
</html>