<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
	<th:block th:fragment="header">
		<!-- Header -->
		<div class="navbar-fixed">
			<nav>
				<div class="nav-wrapper">
					<span th:if="${user.username != null}" th:inline="text"> <a
						th:href="@{/top}" class="brand-logo">Piggy Bank<i
							class="fas fa-piggy-bank fa-lg right"></i></a>
						<ul id="nav-mobile" class="right hide-on-med-and-down">
							<li><a class="dropdown-trigger" href="#!"
								data-target="dropdown-header-record"><span class="header-menu">家計簿</span><i
									class="material-icons left">description</i></a></li>
							<li><a th:href="@{/postmain}"><i
									class="material-icons left">people_outline</i><span class="header-menu">みんなの節約術</span></a></li>
							<li><a class="dropdown-trigger" href="#!"
								data-target="dropdown-header-user"><span class="header-menu">[[${user.userNickname}]]</span>
									<i class="material-icons right">arrow_drop_down</i>
							</a></li>
						</ul>
						<ul id="dropdown-header-record" class="dropdown-content">
							<li><a th:href="@{/}"><i class="material-icons left">home</i>Top</a></li>
							<li><a th:href="@{/showRecords}"><i
									class="material-icons left">history</i>履歴</a></li>
							<li><a th:href="@{/analysis}"><i
									class="material-icons left">insert_chart</i>分析</a></li>
						</ul>
						<ul id="dropdown-header-user" class="dropdown-content">
							<li><a th:href="@{/mypage}"><i
									class="material-icons left">settings</i>マイページ</a></li>
							<li><a th:href="@{/logout}"><i
									class="material-icons left">exit_to_app</i>ログアウト</a></li>
						</ul>
					</span> <span th:if="${user.username == null}"> <a th:href="@{/}"
						class="brand-logo">Piggy Bank<i
							class="fas fa-piggy-bank fa-lg right"></i></a>
						<ul id="nav-mobile" class="right hide-on-med-and-down">
							<li><a th:href="@{/login}"><span class="header-menu"><i class="material-icons left">input</i>ログイン</span></a></li>
							<li><a th:href="@{/register}"><span class="header-menu"><i class="material-icons left">person_add</i>会員登録</span></a></li>
						</ul>
					</span>
				</div>
			</nav>
			<!-- End of Header -->
		</div>
		<div class="row messagebar">
			<div class="col s12 m4 l3"></div>
			<th:block th:if="${flashMsg != null}">
				<div class="col s12 m4 l6 light-green message" id="message">
					<h5 class="center-align yellow-text text-lighten-4"
						th:text="${flashMsg}"></h5>
				</div>
			</th:block>
			<th:block th:unless="${flashMsg != null}">
				<div class="col s12 m4 l6"></div>
			</th:block>
			<div class="col s12 m4 l3"></div>
		</div>
	</th:block>
</body>
</html>