<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
<th:block th:fragment="header">
<!-- Header -->
<nav>
    <div class="nav-wrapper">
      <a th:href="@{/}" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
      <span th:if="${user.username != null}">
        <li><a class="waves-effect waves-light btn">入力 <i class="material-icons right">note_add</i></a></li>
        <li><a th:href="@{/postmain}"><i class="material-icons left">people_outline</i>家計簿公開</a></li>
        <li><a th:href="@{/showRecords}"><i class="material-icons left">history</i>履歴</a></li>
        <li><a th:href="@{/setting}"><i class="material-icons left">insert_chart</i>分析</a></li>
        <li><a th:href="@{/setting}"><i class="material-icons left">settings</i>設定</a></li>
        </span>
        <span th:if="${user.username == null}">
        <li><a th:href="@{/login}">ログイン</a></li>
        <li><a th:href="@{/register}">会員登録</a></li>
        </span>
      </ul>
    </div>
  </nav>
<!-- End of Header -->
</th:block>
</body>
</html>