/* 全般 */
body {
	background-color: rgb(255,245,245);
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

.tab-text {
	font-size: 16px;
}

.comment-username{
	font-size:18px;
}

.label {
	display: block;
	font-size: 16px;
}

/* ヘッダー */
nav .brand-logo {
	padding: 0px 10px 0px 15px;
}

.header-submenu {
	font-size: 14px;
}

.header-menu {
	font-size: 18px;
}

.messagebar {
	height: 50px;
}

.message {
	opacity: 0.7;
	padding:2px;
}

.alert{
	padding:0 0 0 7px;
}

/* フッター */
.footer-copyright {
	background-color: rgb(238, 110, 115);
	padding: 15px;
	color: white;
}

/* Index */
.backgroundimg img {
	padding: 0px;
	width: 100%;
}

.index-image img{
	width:90%;
	padding:10px;
} 

.index-contents{
	background-color:white;
}

.index-btn-text{
	font-size:20px;
}

.card {
	border-radius: 5px;
	padding: 10px 0 10px 0;
	margin: 20px;
}

.forms {
	padding: 20px;
}

.divider {
	margin: 5px 0 5px 0;
}

.user-icon img {
	height: 70px;
	width: 70px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}

/*ログイン画面*/
input#submit_button {
	color:white;
}


/* Home */
.exChart-category {
	font-size: 12px;
	padding: 10px 0 0 0;
}

.exChart-top {
	position: relative;
	padding: 20px;
}

@media only screen and (min-width:1200px) {
	.exChart-category {
		font-size: 15px;
	}
}

.moneylabel {
	font-size: 16px;
}

/*ユーザー詳細画面*/
.user-username{
	padding:0 10px 0 10px;
}
.user-introduce{
	padding:10px 20px 10px 20px;
}

/* MoneyRecord */

/*アイコンの色割り当て*/

/*食費*/
.fa-utensils {
	color: rgb(255, 30, 30);
	padding: 0 6px 0 2px;
}
/*日用品*/
.fa-shopping-basket {
	color: rgb(30, 144, 255);
	padding: 0 2px 0 0;
}
/*交通費*/
.fa-subway {
	color: rgb(50, 205, 50);
	padding: 0 4px 0 3px;
}
/*交際費*/
.fa-glass-cheers {
	color: rgb(255, 182, 193);
}
/*趣味・娯楽*/
.fa-music {
	color: rgb(255, 205, 86);
	padding: 0 5px 0 0;
}
/*教育費*/
.fa-book {
	color: rgb(70, 130, 180);
	padding: 0 5px 0 2px;
}

/*服・美容*/
.fa-magic {
	color: rgb(221, 160, 221);
	padding: 0 4px 0 0;
}

/*健康・医療*/
.fa-notes-medical {
	color: rgb(124, 252, 0);
	padding: 0 7px 0 2px;
}

/*通信費*/
.fa-mobile-alt {
	color: rgb(135, 206, 250);
	padding: 0 9px 0 3px;
}

/*水道・光熱費*/
.fa-burn {
	color: rgb(255, 255, 100);
	padding: 0 8px 0 2px;
}

/*家・クルマ*/
.fa-home {
	color: rgb(220, 20, 60);
	padding: 0 3px 0 0;
}
/*税金・保険*/
.fa-money-check {
	color: rgb(188, 143, 143);
	padding: 0 1px 0 0;
}

/*大型出費*/
.fa-luggage-cart {
	color: rgb(72, 209, 204);
	padding: 0 1px 0 0;
}

/*その他*/
.fa-feather-alt {
	color: rgb(192, 192, 192);
	padding: 0 5px 0 0;
}

/*貯金*/
.fa-coins {
	color: rgb(230, 230, 250);
	padding: 0 7px 0 1px;
}

/*収入*/
.fa-money-bill-wave {
	color: rgb(238, 130, 140);
}

.record-categories {
	padding: 0 0 0 5px;
}

.search-btn {
	margin: 0 0 0 20px;
}

.sort-content {
	font-size: 14px;
}

.select-month {
	margin: 0 0 0 20px;
}

.expense {
	color: red;
}

.income {
	color: green;
}

.exChart {
	position: relative;
	padding: 50px;
}

.inChart {
	position: relative;
	padding: 50px;
}

.dailyTotal {
	margin: 40px;
}

.noData {
	position: absolute;
	top: 0;
	left: 0;
	margin: auto;
	right: 0;
	margin: auto;
	text-align: center;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.incomeDots {
	color: rgb(238, 110, 115);
	padding: 0 5px 0 5px;
}

.calendar {
	padding: 10px;
}

.setting-update {
	margin: 10px 10px 10px 0;
}

.postbtn {
	bottom: 40px;
	right: 40px;
	padding: 4px 20px;
	position: fixed;
}

.postbtnword {
	font-size: 20px;
}

/* Post */

/* 投稿カテゴリアイコン用設定 */

/*健康・ダイエット*/
.fa-weight {
	color: rgb(124, 252, 0);
	padding: 0 4px 0 0px;
}

/*出産・子育て*/
.fa-child {
	color: rgb(255, 182, 193);
	padding: 0 5px 0 3px;
}

/*ペット*/
.fa-paw {
	color: rgb(50, 205, 50);
	padding: 0 6px 0 1px;
}

/*ライフプラン*/
.fa-clipboard-list {
	color: rgb(70, 130, 180);
	padding: 0 4px 0 4px;
}

/*冠婚葬祭*/
.fa-user-tie {
	color: rgb(30, 144, 255);
	padding: 0 6px 0 2px;
}

textarea {
	width: 100%;
	height: 150px;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.search {
	display: none;
}

.categories {
	padding: 0 0 0 5px;
}

/* post部分 */
.post-title {
	padding: 0 0 0 10px;
	font-weight: bold;
	font-size: 13px;
}

.postbody {
	padding: 0 0 10px 0;
	white-space: pre-wrap;
}

.postdetail-post-title {
	font-weight: bold;
	font-size: 16px;
	width:90%;
}

.postdetail-post-menu{
	padding:5px 0 0 0;
}

.postdetail-postbody {
	padding: 30px 10px 20px 10px;
	white-space: pre-wrap;
}

.user-icon {
	padding: 0 10px 0 0;
}

.postuser {
	padding: 10px 0 2px 0;
}

.postuser h6 {
	padding: 3px 0 0 0;
}

/*クリップアイコン*/
.fa-paperclip{
	padding: 0 2px 0 0;
}

/*コメント部分*/
.commentuser h6 {
	font-weight: bold;
}

.commentbody {
	white-space: pre-wrap;
	padding: 0 0 0 15px;
}

.comment-like {
	padding: 0 10px 0px 0px;
	font-size: 9px;
}

@media only screen and (min-width:1200px) {
	.post-title {
		font-size: 20px;
	}
	.comment-like {
		font-size: 15px;
	}
	.postdetail-post-title {
		font-weight: bold;
		font-size: 20px;
	}
}

/* Test */
#smallcategory {
	position: relative;
}

#smallcategory select {
	display: none;
	position: absolute;
}

#smallcategory select.on {
	display: block;
}