<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<th:block th:insert="fragments/header :: header"></th:block>
<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>
<script type="text/javascript"
	th:src="@{/webjars/materializecss/1.0.0/js/materialize.min.js/}"></script>
<link rel="stylesheet"
	th:href="@{/webjars/materializecss/1.0.0/css/materialize.min.css}">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/stylesheet.css}">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>title</title>
</head>
<body>
<div class="inline" th:inline="text">
	<div class="container">
		<div class="row card">
			<div class="col s8">
			<!-- Dropdown Trigger -->
								<a class='dropdown-trigger btn' href='#' data-target='dropdown1'>[[${currentMonth}]]</a>

								<!-- Dropdown Structure -->
								<ul id='dropdown1' class='dropdown-content'>
								<div th:each="month : ${months}" th:inline="text">
									<li><a th:href="@{/analysis/__${month}__}">[[${month}]]</a></li>
									</div>
								</ul>
				<canvas id="total"></canvas>
			</div>
		</div>


		<!-- CDN -->
		<a th:href="@{/logout}">ログアウト</a> <a th:href="@{/postmain}">投稿へ</a> <a
			th:href="@{/test}">テスト</a>
	</div>
	</div>
	<script type="text/javascript" th:inline="javascript">	
	var ctx = document.getElementById("total");
	  var myBarChart = new Chart(ctx, {
	    type: 'bar',
	    data: {
	      labels:  [[ ${label} ]],
	      datasets: [
	        {
	          label: '月',
	          data: [[${data}]],
	          backgroundColor: "rgba(219,39,91,0.5)"
	        }
	      ]
	    },
	    options: {
	      title: {
	        display: true,
	        text: '合計'
	      },
	      scales: {
	       xAxes: [{
	          ticks: {
	            suggestedMax: 31,
	            suggestedMin: 0,
	            stepSize: 10,
	            callback: function(value, index, values){
	              return  value +  '日'
	            }
	          }
	        }],
	        yAxes: [{
		          ticks: {
		            suggestedMax: 100,
		            suggestedMin: 0,
		            stepSize: 1000,
		            callback: function(value, index, values){
		              return  value +  '円'
		            }
		          }
		        }],
	      },
	    }
	  });
	  
	  $('.dropdown-trigger').dropdown();
</script>
</body>
</html>