<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<th:block th:insert="fragments/header :: header"></th:block>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet"
	th:href="@{/webjars/materializecss/1.0.0/css/materialize.min.css}">
<script type="text/javascript"
	th:src="@{/webjars/materializecss/1.0.0/js/materialize.min.js/}"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
	rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/stylesheet.css}">
<title>Piggy Bank</title>
</head>
<body>
<main>
	<span class="backgroundimg"> <img
		src="https://piggy-box-s3.s3-ap-northeast-1.amazonaws.com/images/backgroundimg.jpg">
	</span>
	<div class="container">
	<div class="row"></div>
	<div class="row">
	<div class="col s6">
	<div class="card index-contents">
	<div class="card-content">
	<div class="card-title center">かんたん家計簿機能</div>
	<div class="index-image center"> <img
		src="https://piggy-box-s3.s3-ap-northeast-1.amazonaws.com/images/img1.png">
		</div>
		<h6 class="center">
		シンプル設計だから、かんたんに家計管理ができます
		</h6>
	</div>
	</div>
	</div>
	<div class="col s6">
	<div class="card index-contents">
	<div class="card-content">
	<div class="card-title center">質問・相談機能</div>
	<div class="index-image center"> <img
		src="https://piggy-box-s3.s3-ap-northeast-1.amazonaws.com/images/img2.png">
		</div>
		<h6 class="center">
		お金のことでわからないことはすぐ相談できます
		</h6>
	</div>
	</div>
	</div>
	<div class="row"></div>
	<div class="row"></div>
	<div class="row">
	<h4 class="center">さあ、はじめよう！</h4>
	</div>
	</div>
	<div class="row">
	<div class="col s6 center">
	<a th:href="@{/login}" class="waves-effect waves-light btn-large"><i class="material-icons left">input</i><span class="index-btn-text">ログイン</span></a><br>
	<a th:href="@{/guest-login}"><p>ゲストログインはこちら</p></a>
	</div>
	<div class="col s6 center">
	<a th:href="@{/register}" class="waves-effect waves-light btn-large"><i class="material-icons left">person_add</i><span class="index-btn-text">会員登録</span></a>
	</div>
	</div>
	<div class="row"></div>
	</div>

</main>
	
	<style>
.messagebar {
	display: none;
}
</style>
	<script>
		$('#message').fadeOut(2000);
	</script>

</body>
<th:block th:insert="fragments/footer :: footer"></th:block>
</html>