<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>title</title>
</head>
<body>
	<div class="main">
		<h1>ログイン情報</h1>
		<div class="user-table">
			<span th:inline="text"> ユーザーID:[[${user.id}]]<br>
				ユーザ名:[[${user.username}]]<br> Email:[[${user.email}]]<br>
				性別:[[${T(com.example.demo.util.GenderType).GENDERS.get(user.gender)}]]<br>
				生年月日:[[${user.dateOfBirth}]]<br> 権限:[[${user.role}]]<br>
			</span>
		</div>
		<a th:href="@{/setting}">設定</a> <a th:href="@{/logout}">ログアウト</a>
	</div>
</body>
</html>