<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<th:block th:insert="fragments/header :: header"></th:block>
<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>
<script type="text/javascript"
	th:src="@{/webjars/materializecss/1.0.0/js/materialize.min.js/}"></script>
<link rel="stylesheet"
	th:href="@{/webjars/materializecss/1.0.0/css/materialize.min.css}">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
	rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/stylesheet.css}">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>title</title>
</head>
<body>
	<div class="container">
		<div class="row"></div>
		<div class="row">
			<div class="col s8">
				<div class="card">
					<div class="exChart">
						<canvas id="expenseChart"
							style="display: block; height: 320px; width: 640px;" width="800"
							height="400" class="chartjs-render-monitor"></canvas>
					</div>
					<div class="inChart">
						<canvas id="incomeChart"
							style="display: block; height: 320px; width: 640px;" width="800"
							height="400" class="chartjs-render-monitor"></canvas>
						<h6>10000円</h6>
					</div>
				</div>
			</div>
			<div class="col s4">
				<div class="row card">
					<div class="card-content">
						<h6 class="center gray-text">かんたん入力</h6>
						<form th:action="@{/record}" th:object="${moneyRecord}"
							method="post" novalidate>
							<input type="hidden" name="username" th:value="${user.username}" />
							<div class="form-group">
								<label for="recordDate">日付</label> <input type="text"
									class="datepicker" th:errorclass="is-invalid"
									th:field="*{recordDate}">
								<div class="invalid-feedback" th:errors="*{recordDate}"></div>
							</div>
							<div class="form-group">
								<label for="incomeAndExpense">金額</label> <input type="number"
									th:errorclass="is-invalid" th:field="*{incomeAndExpense}">
								<div class="invalid-feedback" th:errors="*{incomeAndExpense}"></div>
							</div>
							<div class="form-group">
								<div class="input-field col s12">
									<select th:field="*{categoryId}">
										<div th:each="category, index : ${categories}"
											th:inline="text">
											<optgroup th:label="${category['value']}">
												<div th:each="subcategory : ${subcategories}"
													th:inline="text">
													<th:block
														th:if="${subcategory.categoryCode == category['key']}">
														<option th:value="${subcategory.categoryId}">[[${subcategory.subcategoryName}]]</option>
													</th:block>
											</optgroup>
										</div>
									</select> <label for="recordDate">カテゴリ</label>
								</div>
							</div>


							<div class="form-group">
								<label for="note">備考</label>
								<textarea rows="10" cols="30" th:errorclass="is-invalid"
									th:field="*{note}"></textarea>
								<div class="invalid-feedback" th:errors="*{note}"></div>
							</div>

							<div class="form-check"></div>
							<button class="waves-effect waves-light btn">登録</button>
						</form>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col s8">
					<canvas id="total"></canvas>
				</div>
			</div>
		</div>


		<!-- CDN -->
		<a th:href="@{/upload}">テスト</a>
	</div>
	<script type="text/javascript" th:inline="javascript">
	$('#message').fadeOut( 8000 );
  var ctx = document.getElementById("expenseChart");
  var expenseChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
      labels: [[ ${expenseLabel} ]],
      datasets:[{
          backgroundColor: [
            "rgb(255, 99, 132)",
            "rgb(54, 162, 235)",
            "rgb(255, 205, 86)",
            "rgb(255, 99, 71)",
            "rgb(173, 255, 47)",
            "rgb(100, 149, 237)",
            "rgb(221, 160, 221)",
            "rgb(244, 164, 96)",
            "rgb(240, 248, 255)",
            "rgb(192, 192, 192)",
            "rgb(220, 20, 60)",
            "rgb(189, 183, 107)",
            "rgb(46, 139, 87)",
            "rgb(72, 209, 204)",
            "rgb(218, 112, 214)",
            "rgb(210, 105, 30)",
            "rgb(47, 79, 79)"
          ],
          data:[[${expenseData}]],
      }]
    },
    options: {
      title: {
        display: true,
        text: '支出'
      }
    }
  });
  
  var ctx = document.getElementById("incomeChart");
  var incomeChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
      labels: [[ ${incomeLabel} ]],
      datasets: [{
          backgroundColor: [
              "#BB5179",
              "#FAFF67",
              "#58A27C",
              "#3C00FF"
          ],
          data:[[${incomeData}]],
      }]
    },
    options: {
      title: {
        display: true,
        text: '収入'
      }
    }
  });

var ctx = document.getElementById("total");
var data = {
	    labels: [[${totalLabel}]],
	    datasets: [{
	        label: '得点',
	        data: [[${total}]],
	        backgroundColor: 'rgb(255, 99, 132, 1)',
	    }]
	};

	var options = {
	    scales: {
	        yAxes: [{
	            ticks: {
	                min: 300
	            }
	        }]
	    }
	};

	$(document).ready(
			function() {
				$(".dropdown-trigger").dropdown();
				$('select').formSelect();
				$('.datepicker').datepicker(
						{
							format : "yyyy-mm-dd",
							i18n : {
								months : [ "1月", "2月", "3月", "4月", "5月",
										"6月", "7月", "8月", "9月", "10月",
										"11月", "12月" ],
								monthsShort : [ "1月", "2月", "3月", "4月",
										"5月", "6月", "7月", "8月", "9月",
										"10月", "11月", "12月" ],
								weekdays : [ "日曜日", "月曜日", "火曜日", "水曜日",
										"木曜日", "金曜日", "土曜日" ],
								weekdaysShort : [ "日", "月", "火", "水", "木",
										"金", "土" ],
								weekdaysAbbrev : [ "日", "月", "火", "水", "木",
										"金", "土" ],
								nextMonth : "翌月",
								previousMonth : "前月",
								labelMonthSelect : "月を選択",
								labelYearSelect : "年を選択",
								setDefaultDate : true,
								cancel : 'キャンセル',
								clear : 'クリア',
								done : 'OK',
								close : "閉じる",
								format : "yyyy-mm-dd",
							}
						});
			});
	
	var ctx = document.getElementById("total");
	  var myBarChart = new Chart(ctx, {
	    type: 'bar',
	    data: {
	      labels: [],
	      datasets: [
	        {
	          label: '月',
	          data: [[${total}]],
	          backgroundColor: "rgba(219,39,91,0.5)"
	        },{
	          label: '日',
	          data: [11],
	          backgroundColor: "rgba(130,201,169,0.5)"
	        }
	      ]
	    },
	    options: {
	      title: {
	        display: true,
	        text: '合計'
	      },
	      scales: {
	        yAxes: [{
	          ticks: {
	            suggestedMax: 100,
	            suggestedMin: 0,
	            stepSize: 10,
	            callback: function(value, index, values){
	              return  value +  '%'
	            }
	          }
	        }]
	      },
	    }
	  });
</script>

</body>
</html>