<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<th:block th:insert="fragments/header :: header"></th:block>
<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
<script type="text/javascript"
	th:src="@{/webjars/materializecss/1.0.0/js/materialize.min.js/}"></script>
<link rel="stylesheet"
	th:href="@{/webjars/materializecss/1.0.0/css/materialize.min.css}">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
	rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/stylesheet.css}">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>title</title>
</head>
<body>
	<div class="container">
		<div class="row card hoverable">
			<div class="card-content">
				<h3 class="center gray-text">設定</h3>
				<p>必要事項を入力してください。 *必須
				<form th:action="@{/setting}" th:object="${user}" method="post" name="passform" onsubmit="return passwordCheckFunction()"
					novalidate>
					<input type="hidden" name="username" th:value="*{username}" /> <input
						type="hidden" name="createdAt" th:value="*{createdAt}" /> <input
						type="hidden" name="role" th:value="*{role}" />
						<input
						type="hidden" name="userNickname" th:value="*{userNickname}" />
						<input
						type="hidden" name="email" th:value="*{email}" />
						<input
						type="hidden" name="gender" th:value="*{gender}" />
						<input
						type="hidden" name="dateOfBirth" th:value="*{dateOfBirth}" />
						<input
						type="hidden" name="budget" th:value="*{budget}" />
						
					
					<div class="form-group">
						<label for="password"> パスワード </label> <input type="password" id="pass1"
							th:errorclass="is-invalid" th:field="*{password}" placeholder="4文字以上で入力してください">
						<div class="invalid-feedback" th:errors="*{password}"></div>
					</div>
					<div class="form-group">
						<label for="password"> もう一度入力してください </label> <input type="password" id="pass2"
							th:errorclass="is-invalid" th:field="*{password}" placeholder="4文字以上で入力してください">
						<div class="invalid-feedback" th:errors="*{password}"></div>
					</div>

					<input type="submit" class="btn" value="更新">
				</form>
			</div>
		</div>

	</div>
	<script type="text/javascript">
	function passwordCheckFunction() {
		  var loginPass1= document.getElementById("pass1").value;
		  var loginPass2= document.getElementById("pass2").value;
		  
		  if(pass1 !== pass2){
		    alert("パスワードが一致していません。")
		    return false;
		  }
		}
	
	$(document).ready(function() {
		$(".dropdown-trigger").dropdown();
	});
</script>
</body>
</html>