<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<th:block th:replace="fragments/header :: header"></th:block>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
<script type="text/javascript"
	th:src="@{/webjars/materializecss/1.0.0/js/materialize.min.js/}"></script>
<link rel="stylesheet"
	th:href="@{/webjars/materializecss/1.0.0/css/materialize.min.css}">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
	rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/stylesheet.css}">
<title>title</title>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="card">
				<div class="card-content">
					<div class="card-title">検索</div>
					<form class="row s12" th:action="@{/search}" th:object="${swords}"
						method="post">
						<div class="input-field">
							<i class="material-icons prefix">search</i> <input
								id="input_text" type="text" data-length="10" th:field="*{word}">
							<label for="icon_prefix2">検索ワード</label>
							<div class="col s12 center">
								<button class="waves-effect waves-light btn">検索</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="card">
				<div class="card-content">
					<div class="card-title">カテゴリ</div>
					<span th:each="postCategory : ${postCategories}" th:inline="text">
					<ul>
					<li><a th:href="@{/showPost/__${postCategory['key']}__}">[[${postCategory['value']}]]</a></li>
					</ul>
					
					</span>
				</div>
			</div>
		</div>

		<div class="record">
			<h4>節約のコツ、悩みを共有しよう！</h4>

			<div th:each="post : ${posts}" th:inline="text">
				<div class="col s9">
					<div class="card">
						<div class="card-content">
							<div class="cared-title">
								<h5>
									<a th:href="@{/post/__${post.postId}__}">[[${post.postTitle}]]</a>
								</h5>
							</div>
							<div class="row postbody">[[${post.postBody}]]</div>
							<div class="left">投稿日時：[[${post.createdAt}]]</div>
							<br>
							<div class="divider"></div>
							<div class="left">
							[[${postCategories.get(post.postCategory)}]]
							</div>


							<div class="right">
								<a th:href="@{/post/__${post.postId}__}"> <i
									class="far fa-comment-dots fa-2x"></i>[[${commentCount.get(post.postId)}]]
								</a>
								<th:block th:if="${myLikes.contains(post.postId) == true}">
									<a th:href="@{/like/__${post.postId}__}"><i
										class="fas fa-heart fa-2x pink-text text-accent-2"></i></a>[[${likeCount.get(post.postId)}]]
									</th:block>
								<th:block th:unless="${myLikes.contains(post.postId) == true}">
									<a th:href="@{/like/__${post.postId}__}"><i
										class="far fa-heart fa-2x pink-text text-accent-2"></i></a>[[${likeCount.get(post.postId)}]]
									</th:block>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		<a th:href="@{/post}">
			<button class="waves-effect waves-light btn-large postbtn">
				共有する<i class="material-icons right">note_add</i>
			</button>
		</a>
	</div>

	<script>
		$(document).ready(function() {
			$(".dropdown-trigger").dropdown();
		});
	</script>
</body>
</html>