<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>title</title>
</head>
<body>
	<div class="main">
		<h1>出入金記録</h1>
		<p>必要事項を入力してください。 *必須
		<form th:action="@{/post}" th:object="${moneyRecord}" method="post"
			novalidate>
			<!--
			<div class="form-group"> 
				<input type="number" name="userId" value="${user.userId}" readonly>
			</div>
			-->
			<div class="form-group">
				<label for="recordDate">日付</label> <input type="date"
					th:errorclass="is-invalid" th:field="*{recordDate}">
				<div class="invalid-feedback" th:errors="*{recordDate}"></div>
			</div>
			<div class="form-group">
				<label for="incomeAndExpense">金額</label> <input type="number"
					th:errorclass="is-invalid" th:field="*{incomeAndExpense}">
				<div class="invalid-feedback" th:errors="*{incomeAndExpense}"></div>
			</div>
            <div class="form-group">
			<select class="form-control" name="category">
			<div th:each="category : ${categories}" th:inline="text">
				<option value="${category.subcategoryName}">[[${category.subcategoryName}]]</option>
			</div>
			</select>
			</div>

			<div class="form-check"></div>
			<button class="btn">登録</button>
		</form>

	</div>
</body>
</html>