<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<th:block th:replace="fragments/header :: header"></th:block>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
<script type="text/javascript"
	th:src="@{/webjars/materializecss/1.0.0/js/materialize.min.js/}"></script>
<link rel="stylesheet"
	th:href="@{/webjars/materializecss/1.0.0/css/materialize.min.css}">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
	rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/stylesheet.css}">
<title>title</title>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col s2"></div>
			<div class="col s8">
				<div class="card forms">
					<div class="card-content">
						<h4 class="center gray-text">コメント編集</h4>
						<form th:action="@{/qanda/updateComment}" th:object="${comment}"
							method="post" novalidate>
							<input type="hidden" name="commentId"
								th:value="${comment.commentId}" /> <input type="hidden"
								name="username" th:value="${user.username}" /> <input
								type="hidden" name="postId" th:value="${comment.postId}" />
							<div class="form-group">
								<label for="note"><span class="label">本文</span></label>
								<textarea rows="5" cols="40" th:errorclass="is-invalid"
									th:field="*{commentBody}"></textarea>
								<div class="invalid-feedback" th:errors="*{commentBody}"></div>
							</div>

							<div class="form-check"></div>
							<div class="center">
								<button class="waves-effect waves-light btn">更新する</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		$(document).ready(function() {
			$(".dropdown-trigger").dropdown();
		});
	</script>
</body>
</html>