<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<th:block th:replace="fragments/header :: header"></th:block>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
<script type="text/javascript"
	th:src="@{/webjars/materializecss/1.0.0/js/materialize.min.js/}"></script>
<link rel="stylesheet"
	th:href="@{/webjars/materializecss/1.0.0/css/materialize.min.css}">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
	rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/stylesheet.css}">
<title>Piggy Bank</title>
</head>
<body>
<main>
	<div class="container">
		<div class="row">
			<div class="col xl4 s12">
				<div class="card">
					<div class="card-content">
						<div class="card-title center">検索</div>
						<form th:action="@{/qanda/search}" th:object="${swords}" method="post">
							<div class="input-field">
								<i class="material-icons prefix">search</i> <input
									id="input_text" type="text" data-length="20" th:field="*{word}">
								<label for="icon_prefix2">検索ワード</label>
								<div class="col s12 center">
									<button class="waves-effect waves-light btn">実行</button>
								</div>
							</div>
						</form>
					</div>
				</div>

				<div class="row"></div>

				<div class="card">
					<div class="card-content">
						<div class="card-title center">
							<h5>カテゴリ</h5>
						</div>
						<div class="row"></div>
						<span th:each="postCategory : ${postCategories}" th:inline="text">
							<ul>
								<li><a th:href="@{/qanda/category/__${postCategory['key']}__}"><i
										th:class="${postCategoriesToIcon.get(postCategory['key'])}+' fa-lg'"></i><span
										class="black-text categories">[[${postCategory['value']}]]</span></a></li>
							</ul>

						</span>
					</div>
				</div>
			</div>
			<div class="col xl8 s12">
				<div class="row center">
					<span th:if="${checknull == false}"><h5>投稿はありません</h5></span>
				</div>

				<div th:each="post : ${posts}" th:inline="text">
					<div class="card posts">
						<div class="card-content">
							<div class="row">
								<div class="left">
									<h6 class="post-title">
										<a th:href="@{/qanda/__${post.postId}__}"><span
											class="black-text">[[${post.postTitle}]]</span></a>
									</h6>
								</div>
								<div class="right comment-like">
									<i class="far fa-comment-dots fa-lg"></i>コメント数：[[${commentCount.get(post.postId)}]]<br>
									<i class="fas fa-paperclip fa-lg red-text text-accent-3"></i>お気に入り：[[${likeCount.get(post.postId)}]]
								</div>
							</div>
							<div class="postbody">[[${post.postBody}]]</div>
							<div class="divider"></div>
							<div class="left">
								<div class="post-createdAt">投稿日時：[[${#temporals.format(post.createdAt,
									'yyyy-MM-dd HH:ss')}]]</div>
							</div>
							<div class="right">
								<div class="post-category">
									<a th:href="@{/qanda/category/__${post.postCategory}__}"><i
										th:class="${postCategoriesToIcon.get(post.postCategory)}+' fa-lg'"></i><span
										class="black-text categories">[[${postCategories.get(post.postCategory)}]]</span></a>
								</div>
							</div>
						</div>
					</div>

				</div>
				<a th:href="@{/qanda/post}">
					<button class="waves-effect waves-light btn-large postbtn">
						質問する<i class="material-icons right">note_add</i>
					</button>
				</a>
			</div>
		</div>
	</div>
	</main>
	<script>
		$(document).ready(function() {
			$(".dropdown-trigger").dropdown();
			$('.sidenav').sidenav();
		});
		$('#message').fadeOut(5000);
	</script>
</body>
<th:block th:insert="fragments/footer :: footer"></th:block>
</html>