<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<th:block th:insert="fragments/header :: header"></th:block>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel='stylesheet'
	th:href="@{/webjars/fullcalendar/3.5.1/dist/fullcalendar.css}">
<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
<script th:src="@{webjars/moment/2.19.1/min/moment.min.js}"></script>
<script th:src="@{webjars/fullcalendar/3.5.1/dist/fullcalendar.js}"></script>
<script type="text/javascript"
	th:src="@{/webjars/materializecss/1.0.0/js/materialize.min.js/}"></script>
<link rel="stylesheet"
	th:href="@{/webjars/materializecss/1.0.0/css/materialize.min.css}">
<title>title</title>

<script>
	$(document).ready(function() {
		$('#calendar').fullCalendar({
			events : {
				url : '/api/event/all'
			}
		});

		$('.tabs').tabs();
	});
</script>

</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col s12">
				<ul class="tabs">
					<li class="tab col s6"><a href="#tab1">一覧</a></li>
					<li class="tab col s6"><a href="#tab2">カレンダー</a></li>
				</ul>
			</div>
			<div id="tab1" class="col s12">
				<div class="container">
					<div class="row">
						<div class="col s12">
							<ul class="tabs">
								<li class="tab col s6"><a href="#tab2-1">支出</a></li>
								<li class="tab col s6"><a href="#tab2-2">収入</a></li>
							</ul>
						</div>
						<div id="tab2-1" class="col s12">
							<div class="record">
								<h3>支出</h3>
								<table>
									<thead>
										<tr>
											<th>日付</th>
											<th>金額</th>
											<th>カテゴリ</th>
											<th>備考</th>
											<th></th>
										</tr>
									</thead>
									<tbody>
										<div th:each="record : ${records}" th:inline="text">
											<tr>
												<td>[[${record.recordDate}]]</td>
												<td>[[${record.incomeAndExpense}]]円</td>
												<td>[[${record.categoryId}]]</td>
												<td>[[${record.note}]]</td>
												<td><a th:href="@{/editRecord/__${record.recordId}__}">編集</a>
													<a th:href="@{/deleteRecord/__${record.recordId}__}">削除</a></td>
											</tr>
										</div>
									</tbody>
								</table>
							</div>
							<div id="tab2-2" class="col s12">テスト</div>
						</div>
					</div>
				</div>
			</div>

			<div id="tab2" class="col s12">
				<div class="container">
					<div class="row">
						<div class="col s12">
							<ul class="tabs">
								<li class="tab col s6"><a href="#tab2-3">支出</a></li>
								<li class="tab col s6"><a href="#tab2-4">収入</a></li>
							</ul>
						</div>
						<div id="tab2-3" class="col s12">
							<div class="card center">
								<div id='calendar'></div>
							</div>
						</div>
						<div id="tab2-4" class="col s12">
						</div>
					</div>
				</div>
				</div>
</body>
</html>