<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<th:block th:insert="fragments/header :: header"></th:block>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel='stylesheet'
	th:href="@{/webjars/fullcalendar/3.5.1/dist/fullcalendar.css}">
<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
<script th:src="@{webjars/moment/2.19.1/min/moment.min.js}"></script>
<script th:src="@{webjars/fullcalendar/3.5.1/dist/fullcalendar.js}"></script>
<script type="text/javascript"
	th:src="@{/webjars/materializecss/1.0.0/js/materialize.min.js/}"></script>
<link rel="stylesheet"
	th:href="@{/webjars/materializecss/1.0.0/css/materialize.min.css}">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
	rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/stylesheet.css}">
<title>title</title>

<script>
	$(document).ready(
			function() {
				$('#calendar').fullCalendar(
						{
							events : {
								url : '/api/event/all'
							},
							//イベントの色を変える
							eventColor : '#FFFFFF',
							//イベントの文字色を変える
							eventTextColor : '#FF0000',
							eventRender : function(event, element) {
								element.css("font-size", "0.8em");
								element.css("padding", "5px");
								element.find('span.fc-title').html(
										element.find('span.fc-title').text());
							}
						});

				$('.tabs').tabs();

				$('.dropdown-trigger').dropdown();
			});
</script>

</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col s12">
				<ul class="tabs">
					<li class="tab col s6"><a href="#tab1">一覧</a></li>
					<li class="tab col s6"><a href="#tab2">カレンダー</a></li>
				</ul>
			</div>
			<div id="tab1" class="col s12">
				<div class="container">
					<div class="row">
						<div id="tab1" class="col s12">
							<div class="record">
								<h3>一覧</h3>
								<!-- Dropdown Trigger -->
								<a class='dropdown-trigger btn' href='#' data-target='dropdown1'>並び替え</a>

								<!-- Dropdown Structure -->
								<ul id='dropdown1' class='dropdown-content'>
									<li><a th:href="@{/showRecords}">日付（新しい順）</a></li>
									<li><a th:href="@{/showRecordsOrderByDateAsc}">日付（古い順）</a></li>
									<li><a th:href="@{/showRecordsOrderByMoneyDesc}">金額（多い順）</a></li>
									<li><a th:href="@{/showRecordsOrderByMoneyAsc}">金額（少ない順）</a></li>
								</ul>


								<table>
									<thead>
										<tr>
											<th>日付</th>
											<th>金額</th>
											<th>カテゴリ</th>
											<th>備考</th>
											<th></th>
										</tr>
									</thead>
									<tbody>
										<div th:each="record : ${records}" th:inline="text">
											<tr>
												<td>[[${record.recordDate}]]</td>
												<td>[[${record.incomeAndExpense}]]円</td>
												<td><i th:class="${icon}"></i>[[${record.subcategoryName}]]</td>
												<td>[[${record.note}]]</td>
												<td><a th:href="@{/editRecord/__${record.recordId}__}">編集</a>
													<a th:href="@{/deleteRecord/__${record.recordId}__}">削除</a></td>
											</tr>
										</div>
									</tbody>
								</table>


							</div>
						</div>
					</div>
				</div>
			</div>

			<div id="tab2" class="col s12">
				<div class="container">
					<div class="row">
						<div class="col s12">
							<ul class="tabs">
								<li class="tab col s6"><a href="#tab2-3">支出</a></li>
								<li class="tab col s6"><a href="#tab2-4">収入</a></li>
							</ul>
						</div>
						<div id="tab2-3" class="col s12">
							<div class="card center">
								<div id='calendar'></div>
							</div>
						</div>
						<div id="tab2-4" class="col s12"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>