<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<th:block th:insert="fragments/header :: header"></th:block>
<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
<script type="text/javascript"
	th:src="@{/webjars/materializecss/1.0.0/js/materialize.min.js/}"></script>
<link rel="stylesheet"
	th:href="@{/webjars/materializecss/1.0.0/css/materialize.min.css}">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/stylesheet.css}">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>title</title>
</head>
<body>
	<div class="container">
		<div class="row card hoverable">
			<div class="card-content">
				<h3 class="center gray-text">編集</h3>
				<form th:action="@{/updateRecord}" th:object="${record}"
					method="post" novalidate>
					<input type="hidden" name="recordId" th:value="*{recordId}" /> <input
						type="hidden" name="username" th:value="${user.username}" />
					<div class="form-group">
								<label for="recordDate">日付</label> <input type="text"
									class="datepicker" th:errorclass="is-invalid"
									th:field="*{recordDate}">
								<div class="invalid-feedback" th:errors="*{recordDate}"></div>
							</div>
					<div class="form-group">
						<label for="incomeAndExpense">金額</label> <input type="number"
							th:errorclass="is-invalid" name="incomeAndExpense"
							th:value="*{incomeAndExpense}">
						<div class="invalid-feedback" th:errors="*{incomeAndExpense}"></div>
					</div>
					<div class="form-group">
						<div class="input-field col s12">
							<select th:field="*{categoryId}">
								<div th:each="category, index : ${categories}" th:inline="text">
									<optgroup th:label="${category['value']}">
										<div th:each="subcategory : ${subcategories}" th:inline="text">
											<th:block
												th:if="${subcategory.categoryCode == category['key']}">
												<option th:value="${subcategory.categoryId}">[[${subcategory.subcategoryName}]]</option>
											</th:block>
									</optgroup>
								</div>
							</select> <label for="recordDate">カテゴリ</label>
						</div>
					</div>

					<div class="form-group">
						<label for="note">備考</label>
						<textarea rows="5" cols="40" th:errorclass="is-invalid"
							th:field="*{note}"></textarea>
						<div class="invalid-feedback" th:errors="*{note}"></div>
					</div>

					<div class="form-check"></div>
					<button class="btn">更新</button>
				</form>
			</div>

		</div>
	</div>
	<script>
	$(document).ready(
			function() {
				$(".dropdown-trigger").dropdown();
				$('select').formSelect();
				$('.datepicker').datepicker(
						{
							format : "yyyy-mm-dd",
							i18n : {
								months : [ "1月", "2月", "3月", "4月", "5月",
										"6月", "7月", "8月", "9月", "10月",
										"11月", "12月" ],
								monthsShort : [ "1月", "2月", "3月", "4月",
										"5月", "6月", "7月", "8月", "9月",
										"10月", "11月", "12月" ],
								weekdays : [ "日曜日", "月曜日", "火曜日", "水曜日",
										"木曜日", "金曜日", "土曜日" ],
								weekdaysShort : [ "日", "月", "火", "水", "木",
										"金", "土" ],
								weekdaysAbbrev : [ "日", "月", "火", "水", "木",
										"金", "土" ],
								nextMonth : "翌月",
								previousMonth : "前月",
								labelMonthSelect : "月を選択",
								labelYearSelect : "年を選択",
								setDefaultDate : true,
								cancel : 'キャンセル',
								clear : 'クリア',
								done : 'OK',
								close : "閉じる",
								format : "yyyy-mm-dd",
							}
						});
			});
	</script>
</body>
</html>