<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<th:block th:insert="fragments/header :: header"></th:block>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet"
	th:href="@{/webjars/materializecss/1.0.0/css/materialize.min.css}">
<script type="text/javascript"
	th:src="@{/webjars/materializecss/1.0.0/js/materialize.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/stylesheet.css}">
<title>title</title>
</head>
<body>
	<div class="container">
		<div class="row"></div>
		<div class="row card">
			<div class="card-content">
				<h3 class="center gray-text">ユーザー登録</h3>
				<form th:action="@{/register}" th:object="${user}" method="post"
					novalidate>
					<div class="form-group">
						<label for="name"> ユーザーID* </label> <input type="text"
							th:errorclass="is-invalid" th:field="*{username}" placeholder="４文字以上20文字以内で入力してください">
						<div class="invalid-feedback" th:errors="*{username}"></div>
					</div>
					<div class="form-group">
						<label for="email"> メールアドレス* </label> <input type="email"
							th:errorclass="is-invalid" th:field="*{email}" placeholder="xxx@xxx.com">
						<div class="invalid-feedback" th:errors="*{email}"></div>
					</div>
					<div class="form-group">
						<label for="password"> パスワード* </label> <input type="password"
							th:errorclass="is-invalid" th:field="*{password}" placeholder="4文字以上で入力してください">
						<div class="invalid-feedback" th:errors="*{password}"></div>
					</div>
					<div class="form-check"></div>
					<button class="btn">登録</button>
				</form>

			</div>
		</div>
	</div>
</body>
</html>