<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<th:block th:insert="fragments/header :: header"></th:block>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet"
	th:href="@{/webjars/materializecss/1.0.0/css/materialize.min.css}">
<script type="text/javascript"
	th:src="@{/webjars/materializecss/1.0.0/js/materialize.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/stylesheet.css}">
<title>Piggy Bank</title>
</head>
<body>
<main>
	<div class="container">
		<div class="row">
			<div class="col s2"></div>
			<div class="col s8">
				<div class="card forms">
					<div class="card-content">
						<h4 class="center gray-text">ユーザー登録</h4>
						<div class="row"></div>
						<form th:action="@{/register}" th:object="${user}" method="post"
							novalidate>
							<div class="form-group">
								<label for="name"><span class="label">ユーザーID</span> </label> <input type="text"
									th:errorclass="is-invalid" th:field="*{username}"
									placeholder="４文字以上20文字以内で入力してください">
								<div class="invalid-feedback" th:errors="*{username}"></div>
							</div>
							<div class="form-group">
								<label for="email"><span class="label">メールアドレス</span> </label> <input type="email"
									th:errorclass="is-invalid" th:field="*{email}"
									placeholder="xxx@xxx.com">
								<div class="invalid-feedback" th:errors="*{email}"></div>
							</div>
							<div class="form-group">
								<label for="password"><span class="label">パスワード</span> </label> <input type="password"
									th:errorclass="is-invalid" th:field="*{password}"
									placeholder="4文字以上で入力してください">
								<div class="invalid-feedback" th:errors="*{password}"></div>
							</div>
							<div class="form-group">
								<label for="budget"><span class="label">月の予算</span></label> <input type="number"
									th:errorclass="is-invalid" th:field="*{budget}">
								<div class="invalid-feedback" th:errors="*{budget}"></div>
							</div>
							<div class="row form-check"></div>
							<div class="center">
							<button class="waves-effect waves-light btn">登録する</button>
							</div>
						</form>

					</div>
				</div>
			</div>
			<div class="s2"></div>
		</div>
	</div>
	</main>
</body>
<th:block th:insert="fragments/footer :: footer"></th:block>
</html>