<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<th:block th:insert="fragments/header :: header"></th:block>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet"
	th:href="@{/webjars/materializecss/1.0.0/css/materialize.min.css}">
<script type="text/javascript"
	th:src="@{/webjars/materializecss/1.0.0/js/materialize.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<title>title</title>
</head>
<body>
	<div class="main">
		<h1>ユーザー登録</h1>
		<p>必要事項を入力してください。 *必須
		<form th:action="@{/register}" th:object="${user}" method="post"
			novalidate>
			<div class="form-group">
				<label for="name"> ユーザーID* </label> <input type="text"
					th:errorclass="is-invalid" th:field="*{username}">
				<div class="invalid-feedback" th:errors="*{username}"></div>
			</div>
			<div class="form-group">
				<label for="email"> メールアドレス* </label> <input type="email"
					th:errorclass="is-invalid" th:field="*{email}">
				<div class="invalid-feedback" th:errors="*{email}"></div>
			</div>
			<div class="form-group">
				<label for="password"> パスワード* </label> <input type="password"
					th:errorclass="is-invalid" th:field="*{password}">
				<div class="invalid-feedback" th:errors="*{password}"></div>
			</div>
			<div class="form-check"></div>
			<button class="btn">登録</button>
		</form>


	</div>
</body>
</html>