<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<th:block th:insert="fragments/header :: header"></th:block>
<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
<script type="text/javascript"
	th:src="@{/webjars/materializecss/1.0.0/js/materialize.min.js/}"></script>
<link rel="stylesheet"
	th:href="@{/webjars/materializecss/1.0.0/css/materialize.min.css}">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
	rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/stylesheet.css}">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Piggy Bank</title>
</head>
<body>
<main>
	<div class="container">
		<div class="row">
			<div class="col s3"></div>
			<div class="col s6">
				<div class="card forms">
					<div class="card-content">
						<h4 class="center gray-text">パスワード変更</h4>
						<div class="row"></div>
						<form th:action="@{/setting/pass}" th:object="${user}" method="post"
							name="passform" onsubmit="return passwordCheckFunction()"
							novalidate>
							<input type="hidden" name="username" th:value="*{username}" /> <input
								type="hidden" name="createdAt" th:value="*{createdAt}" /> <input
								type="hidden" name="role" th:value="*{role}" /> <input
								type="hidden" name="userNickname" th:value="*{userNickname}" />
							<input type="hidden" name="email" th:value="*{email}" /> <input
								type="hidden" name="budget" th:value="*{budget}" /> 
								<input
								type="hidden" name="icon" th:value="*{icon}" /><input
								type="hidden" name="introduce" th:value="*{introduce}" />


							<div class="form-group">
								<label for="password"><span class="label">パスワード</span> </label> 
								<span th:unless="${user.username.equals('GuestUser')}">
								<input type="password"
									id="pass1" th:errorclass="is-invalid" th:field="*{password}"
									placeholder="4文字以上で入力してください">
									</span>
									<span th:if="${user.username.equals('GuestUser')}">
									<input type="password"
									id="pass1" th:errorclass="is-invalid" th:field="*{password}"
									readonly>
									</span>
								<div class="invalid-feedback" th:errors="*{password}"></div>
							</div>
							<div class="form-group">
								<label for="password"><span class="label">もう一度入力してください</span></label> 
								<span th:unless="${user.username.equals('GuestUser')}">
								<input
									type="password" id="pass2" placeholder="4文字以上で入力してください">
									</span>
									<span th:if="${user.username.equals('GuestUser')}">
									<input
									type="password" id="pass2" readonly>
									</span>
							</div>
							<div class="row"></div>
							<div class="center">
							<span th:unless="${user.username.equals('GuestUser')}">
							<input type="submit" class="btn" value="更新">
							</span>
							<span th:if="${user.username.equals('GuestUser')}">
							<input type="submit" class="btn" value="更新" disabled>
							<p class="red-text">ゲストユーザーはパスワード変更ができません</p>
							</span>
							</div>
						</form>
					</div>
				</div>

			</div>
			<div class="col s3"></div>
		</div>
	</div>
</main>
	<script type="text/javascript">
		function passwordCheckFunction() {
			var loginPass1 = document.getElementById("pass1").value;
			var loginPass2 = document.getElementById("pass2").value;

			if (loginPass1 != loginPass2) {
				alert("パスワードが一致していません。")
				return false;
			}
		}

		$(document).ready(function() {
			$(".dropdown-trigger").dropdown();
		});
	</script>
</body>
<th:block th:insert="fragments/footer :: footer"></th:block>
</html>