<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<th:block th:insert="fragments/header :: header"></th:block>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<script type="text/javascript"
	src="//cdn.shopify.com/s/files/1/1775/8583/t/1/assets/jquery.vmap.min.js?v=16312383892908448454"></script>
<script type="text/javascript"
	src="//cdn.shopify.com/s/files/1/1775/8583/t/1/assets/jquery.vmap.world.js?v=7251365059269487148"
	charset="utf-8"></script>
<script type="text/javascript"
	src="//cdn.shopify.com/s/files/1/1775/8583/t/1/assets/jquery.vmap.sampledata.js?v=8702362987075556685"></script>

<script type="text/javascript"
	src="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.7.0/fullcalendar.min.js"></script>

<script
	src="//cdn.shopify.com/s/files/1/1775/8583/t/1/assets/table-custom-elements.min.js?v=8344857946410998004"></script>
<link rel="stylesheet"
	th:href="@{/webjars/materializecss/1.0.0/css/materialize.min.css}">
	<meta charset="utf-8">
    <link rel="stylesheet" href="fullcalendar.min.css" type="text/css">
    <script src="moment.min.js" type="text/javascript"></script>
　　　　　　　　<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="jquery-ui.custom.min.js" type="text/javascript"></script>
    <script src="fullcalendar.min.js" type="text/javascript"></script>
    <script src="ja.js" type="text/javascript"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>グラフ</title>
</head>
<body>
	<main>
		<!-- Tables -->
		<div class="container">
			<div class="row">
				<div class="col s12">
					<h2 class="section-title">Custom Table Elements</h2>

					<div class="card">
						<div id="table-custom-elements_wrapper"
							class="dataTables_wrapper no-footer">
							<div id="table-custom-elements_filter" class="dataTables_filter">
								<label><input type="search" class=""
									placeholder="Enter search term"
									aria-controls="table-custom-elements"></label>
							</div>
							<div class="dataTables_scroll">
								<div class="dataTables_scrollHead"
									style="overflow: hidden; position: relative; border: 0px; width: 100%;">
									<div class="dataTables_scrollHeadInner"
										style="box-sizing: content-box; width: 938px; padding-right: 17px;">
										<table class="row-border dataTable no-footer" cellspacing="0"
											width="100%" role="grid"
											style="margin-left: 0px; width: 938px;">
											<thead>
												<tr role="row">
													<th class="dataTables-checkbox-column sorting_disabled"
														rowspan="1" colspan="1" style="width: 40px;" aria-label=""><label><input
															class="filled-in select-all" name="select_all" value="1"
															type="checkbox"><span></span></label></th>
													<th class="sorting" tabindex="0"
														aria-controls="table-custom-elements" rowspan="1"
														colspan="1" style="width: 154px;"
														aria-label="Name: activate to sort column ascending">Name</th>
													<th class="sorting" tabindex="0"
														aria-controls="table-custom-elements" rowspan="1"
														colspan="1" style="width: 240px;"
														aria-label="Position: activate to sort column ascending">Position</th>
													<th class="sorting_asc" tabindex="0"
														aria-controls="table-custom-elements" rowspan="1"
														colspan="1" style="width: 120px;" aria-sort="ascending"
														aria-label="Office: activate to sort column descending">Office</th>
													<th class="sorting" tabindex="0"
														aria-controls="table-custom-elements" rowspan="1"
														colspan="1" style="width: 48px;"
														aria-label="Age: activate to sort column ascending">Age</th>
													<th class="sorting" tabindex="0"
														aria-controls="table-custom-elements" rowspan="1"
														colspan="1" style="width: 108px;"
														aria-label="Start date: activate to sort column ascending">Start
														date</th>
													<th class="sorting" tabindex="0"
														aria-controls="table-custom-elements" rowspan="1"
														colspan="1" style="width: 88px;"
														aria-label="Salary: activate to sort column ascending">Salary</th>
												</tr>
											</thead>
										</table>
									</div>
								</div>
								<div class="dataTables_scrollBody"
									style="position: relative; overflow: auto; max-height: 400px; width: 100%;">
									<table id="table-custom-elements"
										class="row-border dataTable no-footer" cellspacing="0"
										width="100%" role="grid"
										aria-describedby="table-custom-elements_info"
										style="width: 100%;">
										<thead>
											<tr role="row" style="height: 0px;">
												<th class="dataTables-checkbox-column sorting_disabled"
													rowspan="1" colspan="1"
													style="width: 40px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;"
													aria-label=""><div class="dataTables_sizing"
														style="height: 0; overflow: hidden;">
														<label><input class="filled-in select-all"
															name="select_all" value="1" type="checkbox"><span></span></label>
													</div></th>
												<th class="sorting" aria-controls="table-custom-elements"
													rowspan="1" colspan="1"
													style="width: 154px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;"
													aria-label="Name: activate to sort column ascending"><div
														class="dataTables_sizing"
														style="height: 0; overflow: hidden;">Name</div></th>
												<th class="sorting" aria-controls="table-custom-elements"
													rowspan="1" colspan="1"
													style="width: 240px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;"
													aria-label="Position: activate to sort column ascending"><div
														class="dataTables_sizing"
														style="height: 0; overflow: hidden;">Position</div></th>
												<th class="sorting_asc"
													aria-controls="table-custom-elements" rowspan="1"
													colspan="1"
													style="width: 120px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;"
													aria-sort="ascending"
													aria-label="Office: activate to sort column descending"><div
														class="dataTables_sizing"
														style="height: 0; overflow: hidden;">Office</div></th>
												<th class="sorting" aria-controls="table-custom-elements"
													rowspan="1" colspan="1"
													style="width: 48px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;"
													aria-label="Age: activate to sort column ascending"><div
														class="dataTables_sizing"
														style="height: 0; overflow: hidden;">Age</div></th>
												<th class="sorting" aria-controls="table-custom-elements"
													rowspan="1" colspan="1"
													style="width: 108px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;"
													aria-label="Start date: activate to sort column ascending"><div
														class="dataTables_sizing"
														style="height: 0; overflow: hidden;">Start date</div></th>
												<th class="sorting" aria-controls="table-custom-elements"
													rowspan="1" colspan="1"
													style="width: 88px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;"
													aria-label="Salary: activate to sort column ascending"><div
														class="dataTables_sizing"
														style="height: 0; overflow: hidden;">Salary</div></th>
											</tr>
										</thead>

										<tbody>
						
											<tr role="row" class="odd">
												<td class=" dataTables-checkbox-column"><label><input
														class="filled-in" type="checkbox" name="id[]" value="1"><span></span></label></td>
												<td>Tiger Nixon</td>
												<td>System Architect</td>
												<td class="sorting_1"><span class="new badge"
													data-badge-caption="">Edinburgh</span></td>
												<td>5421</td>
												<td>2011/04/25</td>
												<td>$320,800</td>
											</tr>
											<tr role="row" class="even">
												<td class=" dataTables-checkbox-column"><label><input
														class="filled-in" type="checkbox" name="id[]" value="4"><span></span></label></td>
												<td>Cedric Kelly</td>
												<td>Senior Javascript Developer</td>
												<td class="sorting_1"><span class="new badge"
													data-badge-caption="">Edinburgh</span></td>
												<td>6224</td>
												<td>2012/03/29</td>
												<td>$433,060</td>
											</tr>
											<tr role="row" class="odd">
												<td class=" dataTables-checkbox-column"><label><input
														class="filled-in" type="checkbox" name="id[]" value="10"><span></span></label></td>
												<td>Sonya Frost</td>
												<td>Software Engineer</td>
												<td class="sorting_1"><span class="new badge"
													data-badge-caption="">Edinburgh</span></td>
												<td>1667</td>
												<td>2008/12/13</td>
												<td>$103,600</td>
											</tr>
											<tr role="row" class="even">
												<td class=" dataTables-checkbox-column"><label><input
														class="filled-in" type="checkbox" name="id[]" value="12"><span></span></label></td>
												<td>Quinn Flynn</td>
												<td>Support Lead</td>
												<td class="sorting_1"><span class="new badge"
													data-badge-caption="">Edinburgh</span></td>
												<td>9497</td>
												<td>2013/03/03</td>
												<td>$342,000</td>
											</tr>
											<tr role="row" class="odd">
												<td class=" dataTables-checkbox-column"><label><input
														class="filled-in" type="checkbox" name="id[]" value="11"><span></span></label></td>
												<td>Jena Gaines</td>
												<td>Office Manager</td>
												<td class="sorting_1"><span class="new badge red"
													data-badge-caption="">London</span></td>
												<td>3814</td>
												<td>2008/12/19</td>
												<td>$90,560</td>
											</tr>
											<tr role="row" class="even">
												<td class=" dataTables-checkbox-column"><label><input
														class="filled-in" type="checkbox" name="id[]" value="14"><span></span></label></td>
												<td>Haley Kennedy</td>
												<td>Senior Marketing Designer</td>
												<td class="sorting_1"><span class="new badge red"
													data-badge-caption="">London</span></td>
												<td>3597</td>
												<td>2012/12/18</td>
												<td>$313,500</td>
											</tr>
											<tr role="row" class="odd">
												<td class=" dataTables-checkbox-column"><label><input
														class="filled-in" type="checkbox" name="id[]" value="6"><span></span></label></td>
												<td>Brielle Williamson</td>
												<td>Integration Specialist</td>
												<td class="sorting_1"><span class="new badge orange"
													data-badge-caption="">New York</span></td>
												<td>4804</td>
												<td>2012/12/02</td>
												<td>$372,000</td>
											</tr>
											<tr role="row" class="even">
												<td class=" dataTables-checkbox-column"><label><input
														class="filled-in" type="checkbox" name="id[]" value="3"><span></span></label></td>
												<td>Ashton Cox</td>
												<td>Junior Technical Author</td>
												<td class="sorting_1"><span class="new badge blue"
													data-badge-caption="">San Francisco</span></td>
												<td>1562</td>
												<td>2009/01/12</td>
												<td>$86,000</td>
											</tr>
											<tr role="row" class="odd">
												<td class=" dataTables-checkbox-column"><label><input
														class="filled-in" type="checkbox" name="id[]" value="7"><span></span></label></td>
												<td>Herrod Chandler</td>
												<td>Sales Assistant</td>
												<td class="sorting_1"><span class="new badge blue"
													data-badge-caption="">San Francisco</span></td>
												<td>9608</td>
												<td>2012/08/06</td>
												<td>$137,500</td>
											</tr>
											<tr role="row" class="even">
												<td class=" dataTables-checkbox-column"><label><input
														class="filled-in" type="checkbox" name="id[]" value="9"><span></span></label></td>
												<td>Colleen Hurst</td>
												<td>Javascript Developer</td>
												<td class="sorting_1"><span class="new badge blue"
													data-badge-caption="">San Francisco</span></td>
												<td>2360</td>
												<td>2009/09/15</td>
												<td>$205,500</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="footer-wrapper">
								<div class="dataTables_length" id="table-custom-elements_length">
									<label>Show
										<div class="select-wrapper">
											<input class="select-dropdown dropdown-trigger" type="text"
												readonly="true"
												data-target="select-options-963ebea6-3d26-32a9-1bc4-02d9324d3444">
											<ul id="select-options-963ebea6-3d26-32a9-1bc4-02d9324d3444"
												class="dropdown-content select-dropdown" tabindex="0">
												<li
													id="select-options-963ebea6-3d26-32a9-1bc4-02d9324d34440"
													tabindex="0" class="selected"><span>10</span></li>
												<li
													id="select-options-963ebea6-3d26-32a9-1bc4-02d9324d34441"
													tabindex="0"><span>25</span></li>
												<li
													id="select-options-963ebea6-3d26-32a9-1bc4-02d9324d34442"
													tabindex="0"><span>50</span></li>
												<li
													id="select-options-963ebea6-3d26-32a9-1bc4-02d9324d34443"
													tabindex="0"><span>100</span></li>
											</ul>
											<svg class="caret" height="24" viewBox="0 0 24 24" width="24"
												xmlns="http://www.w3.org/2000/svg">
												<path d="M7 10l5 5 5-5z"></path>
												<path d="M0 0h24v24H0z" fill="none"></path></svg>
											<select name="table-custom-elements_length"
												aria-controls="table-custom-elements" class="" tabindex="-1"><option
													value="10">10</option>
												<option value="25">25</option>
												<option value="50">50</option>
												<option value="100">100</option></select>
										</div> entries
									</label>
								</div>
								<div class="paging-info">
									<div class="dataTables_info" id="table-custom-elements_info"
										role="status" aria-live="polite">Showing 1 to 10 of 14
										entries</div>
									<div class="dataTables_paginate paging_full"
										id="table-custom-elements_paginate">
										<a class="paginate_button first disabled waves-effect"
											aria-controls="table-custom-elements" data-dt-idx="0"
											tabindex="0" id="table-custom-elements_first">First</a><a
											class="paginate_button previous disabled waves-effect"
											aria-controls="table-custom-elements" data-dt-idx="1"
											tabindex="0" id="table-custom-elements_previous">Previous</a><a
											class="paginate_button next waves-effect"
											aria-controls="table-custom-elements" data-dt-idx="2"
											tabindex="0" id="table-custom-elements_next">Next</a><a
											class="paginate_button last waves-effect"
											aria-controls="table-custom-elements" data-dt-idx="3"
											tabindex="0" id="table-custom-elements_last">Last</a>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

	</main>
	
	<div id="calendar">
      <script>
        $('#calendar').fullCalendar();
      </script>
    </div>
</body>
</html>